body
{
	background: #2c2c2c; /* Old browsers */
	// background: -moz-radial-gradient(center, ellipse cover, #2c2c2c 0%, #050202 100%); 
	// background: -webkit-radial-gradient(center, ellipse cover, #2c2c2c 0%,#050202 100%);  Chrome10-25,Safari5.1-6 
	// background: radial-gradient(#1b1b1b 0%, #191919 100%);
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2c2c', endColorstr='#050202',GradientType=1 );
	footer
	{
		position: relative;
		padding:1rem;
		padding-top:5rem !important;

		color: white;
		overflow: hidden;
		img
		{	
			&.losangle-right-footer
			{
				position: absolute;
				bottom: -90%;
				width: 70rem;
				right: -22%;
				z-index: -2;
			}
		}
		#copyright
		{
			font-size: 0.7rem !important;
			margin-top: 1rem;
			border-top: 1px solid #4242425e;
			padding-top: 1rem;
			color: #6f6f6f;
		}
		.form-control
		{
			font-size: 1rem !important;
			padding: 0.99rem !important;
			font-weight: 500 !important;
			height: 100% !important;
			border-radius: 14px !important;
			border: none !important;
			padding-left: 1rem !important;

			background: #1a1a1a !important;
			color: #ababab !important;
			box-shadow: inset black 0px 0px 14px -3px;
			-webkit-transition: all .5s ease;
			   -moz-transition: all .5s ease;
			    -ms-transition: all .5s ease;
			     -o-transition: all .5s ease;
			        transition: all .5s ease;
			&:focus {
				 color: #495057; 
				border-color: #a1cbef;
				outline: 0;
				box-shadow: 0 0 32px -8px rgba(255, 255, 255, 0.25) !important;
			}
		}
		textarea{
			min-height: 12rem;
		}
		.btn
		{
			color: white;
			border: white 1px solid;
			padding: 0.5rem 1.5rem;
			font-size: 1rem;
			border-radius: 11px;
			-webkit-transition: all 0.99s cubic-bezier(0.28, 0.92, 0.42, 1);
			-moz-transition: all 0.99s cubic-bezier(0.28, 0.92, 0.42, 1);
			-ms-transition: all 0.99s cubic-bezier(0.28, 0.92, 0.42, 1);
			-o-transition: all 0.99s cubic-bezier(0.28, 0.92, 0.42, 1);
			transition: all 0.99s cubic-bezier(0.28, 0.92, 0.42, 1);
			&:hover{
				background:white;
				color: gray;
			}
		}
	}
}