footer{
		// min-height:100vh;
		position:relative;
		// background:$gray_tone;
		color: white !important;
		line-height: 1.5rem;
		font-size: 1rem;
		overflow:hidden;
		background:#000000cf;

		&.home{
			background: transparent;
		}

		&.colaborador{
			&::before{
				content:"";
				position:absolute;
				left: 0;
				top:0;
				width:100%;
				height: 100%;
				background-attachment: fixed;
				background-image: url($url + 'img/bg_alunos.jpg');
				z-index: -1;
			}
		}
		// min-height: 100vh;
		.losangle{
			@include losangos;
			z-index: 1;
			width: 80vh;
			height: 80vh;
			left: -210px;
			background: rgb(41, 41, 41);
		}
		.copyright{
			background: #131313;
			padding:1rem;
		}
		.img-fluid{
			width: 100% !important;
			height: 100% !important;
		}
		.logo{
			width: 7rem !important;
			margin: auto;
		}
		.escrito{
			width: 18rem !important;	
			margin: auto;
		}
		.lead{
			font-weight: 500;
		}
		a{
			color: white;
		}
		.copyright_footer_content{
			// position: absolute;
			// width: 80%;
			// bottom: 0px;
			// margin: auto;
			// left: calc(50% - calc(80%/2));
			margin-top: 5rem;
		}
	}