$cor-texto:#6b6b6b;
*{
	&::-webkit-scrollbar {
		width: 7px;
	}
	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 5px #8080805c;
		border-radius: 0px;
	}
	
	&::-webkit-scrollbar-thumb {
		background: #2d2d2d;
		border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: #2d2d2d; 
	}
}
$url: "http://localhost/carlos_santos/public_html/";
$gray_tone:#2d2d2d;
$background_color:#3e3e3e;
body{
	@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
	font-family: 'Lato', sans-serif;
	background:black;
	color: white;
	// background:#f5f5f5;
	
	overflow-x:hidden;
	.logo_black{
		display: none;
	}
	.navbar-brand{
		img{
			opacity: 0;
			-webkit-transition: all .25s ease;
			-moz-transition: all .25s ease;
			-ms-transition: all .25s ease;
			-o-transition: all .25s ease;
			transition: all .25s ease;
		}
	}
	.parallax{
		width: 100%;
		min-height: 100vh;
		background-size: 100%;
		background-attachment: fixed;
		background-repeat:no-repeat;
		opacity: 0.2;
		background-position: 50% 0;
	}
	@keyframes animMouse{
		0%{
			top: -10px;
		}
		100%{
			top: 10px;
		}
	}
	.mouse_scroll{
		width: 40px;
		margin: auto;
		display: block;
		margin-top: 5rem;
		position:relative;
		-webkit-animation: animMouse infinite .99s ease-in-out alternate;
		-moz-animation: animMouse infinite .99s ease-in-out alternate;
		-ms-animation: animMouse infinite .99s ease-in-out alternate;
		-o-animation: animMouse infinite .99s ease-in-out alternate;
		animation: animMouse infinite .99s ease-in-out alternate;
		color: white !important;
		text-decoration: none;
		img{
			width: 100%;
			margin-bottom: 2rem;
		}
		p{
			transform: rotate(-90deg);
			opacity: 0;
			-webkit-transition: all .99s ease;
			-moz-transition: all .99s ease;
			-ms-transition: all .99s ease;
			-o-transition: all .99s ease;
			transition: all .99s ease;
		}
		&:hover{
			cursor: pointer;
			p{
				opacity: 1;
			}
		}
	}
	.lead{
		font-weight: 500;
	}
	@mixin losangos{
		display: none;
		z-index: -1;
		content: "";
		width: 100vh;
		height: 100vh;
		background: #f5f5f5;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		position: absolute;
		// box-shadow: 10px 20px 47px 5px #0000003d;
		left: -20rem;
		// -webkit-transition: all .9s cubic-bezier(0.4, 0, 1, 1);
		// -moz-transition: all .9s cubic-bezier(0.4, 0, 1, 1);
		// -ms-transition: all .9s cubic-bezier(0.4, 0, 1, 1);
		// -o-transition: all .9s cubic-bezier(0.4, 0, 1, 1);
		// transition: all .9s cubic-bezier(0.4, 0, 1, 1);
		// will-change: transform; 
		// will-change: contents;
	}	
	
	@import 'header';
	@import 'nav';
	@import 'main';
	@import 'footer';
	p{
		&:first-letter{
			text-transform:capitalize !important;
		}
	}
	@import 'projetos';
	@import 'aluno';
	
}
.goog-te-combo{
	background: white;
	border: none;
	padding: .6rem;
	border-radius: 6px;
	color: #544f4c;
}
#loading{
	width: 100%;
	height: 100%;
	// background:#241310;
	background:black;
	position:fixed;
	left: 0;
	top:0;
	z-index: 9999999;
	@keyframes animate_icon{
		0%{
			top: -10px;	
		}
		50%{
			top: 0px;		
		}
		100%{
			top: -10px;	
		}
	}
	padding-top: 15rem;
	img{
		height: 12%;
		position: relative;
		top: 30%;
		animation: animate_icon infinite 2s;
		-webkit-transition: all .25s ease;
		-moz-transition: all .25s ease;
		-ms-transition: all .25s ease;
		-o-transition: all .25s ease;
		transition: all .25s ease;
	}
	p{
		padding-top:1rem;
	}
}
/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
	background: #EEE;
}
.flickity-viewport{
	touch-action: pan-y;
	background: white;
}
.carousel-cell {
	width: 28%;
	padding-top:1rem;
	height: 420px;
	margin-right: 10px;
  // background: #8C8;
  border-radius: 5px;

  counter-increment: carousel-cell;
  .img-aluno {
  	max-width: 300px;
  	min-width: 300px;
  }
  @include media-breakpoint-down(md) {
  	width: 50%;
  	height: 300px;
  	.img-aluno {
  		min-width: 150px;
  		max-width: 152px;
  	}
  }
}

// .carousel-cell.is-selected {
//   background: #ED2;
// }

/* cell number */
// .carousel-cell:before {
//   display: block;
//   text-align: center;
//   content: counter(carousel-cell);
//   line-height: 200px;
//   font-size: 80px;
//   color: white;
// }

@import 'sobre'; 


