main{
		min-height:100vh;
		font-weight: 500 !important;
		padding:5rem;
		position:relative;
		z-index: 0;
		
		.lead {
			font-size: 2rem;
			font-weight: 300;
		}
		#about{
			z-index: 0;
			
			.losangle{
				@include losangos;
			}
			.losangle:nth-child(2){
				@include losangos;
				left: auto;
				right: -7rem;
				top: -14rem;
				background: #92e6e6;
				width: 70vh;
				height: 70vh;
			}
		}
		strong{
			font-weight: 900;
		}
		p{
			text-shadow: 10px 17px 20px #00000036;
			line-height: 3rem;
		}
		.container-minor{
			@include make-container();
			width: 80%;
		}
		.btn{
			padding: 1rem 3.5rem 1rem 3.5rem;
			border-radius: 30px;
			background: #6ac3c3;
			color: white;
			box-shadow: 20px 7px 57px -21px black;

			-webkit-transition: all .5s cubic-bezier(0.25, 0.81, 0.35, 0.87);
			-moz-transition: all .5s cubic-bezier(0.25, 0.81, 0.35, 0.87);
			-ms-transition: all .5s cubic-bezier(0.25, 0.81, 0.35, 0.87);
			-o-transition: all .5s cubic-bezier(0.25, 0.81, 0.35, 0.87);
			transition: all .5s cubic-bezier(0.25, 0.81, 0.35, 0.87);
			font-size: 1.5rem;
			&:hover{
				background: #66a9bf;
				color: white;
			}
			&:focus, &.focus {
				outline: 0;
				box-shadow: 0px 7px 57px -21px black;
			}
			position: relative;
			-webkit-perspective: 100vw;
			perspective: 100vw;
			overflow: hidden;
		}



		//projetos ===
		a{
			&:hover{
				text-decoration: none;
			}
		}
		.project{
			width: 100%;
			overflow: hidden;
			position: relative;
			z-index: 0;
			min-height: 23rem;
			padding: 2rem;
			color: white !important;
			padding-top: 11rem;
			transition: all 0.5s ease-out;
			box-shadow: 0px 15px 50px -4px black;
			will-change: contents;
			will-change: transition;
			max-height: 358px !important;
			.project-figure{
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				
				&:before{
					content: "";
					width: 100%;
					height: 100%;
					background:white;
				}
				img{
					filter: brightness(80%);
					position: absolute;
					max-height: 100%;
					z-index: -1;
					left: -45%;
				}
			}

			p{
				font-size: 0.8rem;
				line-height: 1rem !important;
				font-style: italic;
				margin-top: 1rem;
				z-index: 2;
			}
			h1{
				z-index: 2;
				font-size: 1.7rem;
				font-weight:900;
			}
			-webkit-transition: all .5s ease-out;
			-moz-transition: all .5s ease-out;
			-ms-transition: all .5s ease-out;
			-o-transition: all .5s ease-out;
			transition: all .5s ease-out;
			box-shadow: 0px 15px 50px -4px black;
			will-change: contents;
			will-change: transition;	
			&:hover{
				box-shadow: 0px 26px 46px -24px black;

			}
		}
	}