&.projeto{
	background:#fffffff5;
	header{
		padding: 8rem;
		@include media-breakpoint-down(md) {
			padding-top: 5rem;
			padding-bottom: 5rem;
			padding-left: 0;
			padding-right: 0;
		}
		text-align: center;
		overflow: hidden;
		min-height: 100%;
		position: relative;
		background: #0000003b !important;
		box-shadow:0px -6px 17px #00000038 inset;
		h1,h2{
			color: white !important;
		}
		h1 {
			text-transform: uppercase;
			font-size: 5rem !important;
			font-weight: 900;
			margin-bottom: 2rem;
			letter-spacing: 4rem;
			margin-top: 2rem;
			color: #2d2d2d;
			@include media-breakpoint-down(md) {
				font-size: 1.5rem !important;
				letter-spacing: .5rem;
			}
		}
		h2{
			font-size: 1.2rem;
		}
		.img_background_project{
			// width: 100%;
			width: 100vw;

			position:fixed;
			left: 0;
			top: 0;
			max-height: 100vh;
			z-index: -1;
			overflow: hidden;
			
			img{
				width: 100%;
				margin:auto;
				@include media-breakpoint-down(md) {
					width: auto;
					height: 100vh;
				}
			}
		}
	}
	main{
		padding-top: 3rem;
		background:#fffffff5;
		color: #4a4a4a;

		p{
			font-size:.8rem !important;
			// font-size: 1.1rem;
			line-height: 1.6rem;
			text-align: justify;
			text-color:$cor-texto;
		}
	}
	@mixin dashed{
		border-top: 2px #4a4a4a30 dashed;
		margin-top: 7rem !important;
		border-bottom: 2px #4a4a4a2b dashed;
		padding-bottom: 3rem;
		padding-top: 3rem;
	}
	.explore{
		background-image:url($url + 'img/bg_projetos.jpg');
		color: white;
		margin-top: 8rem;
		background-size: cover;
		background-attachment: fixed;
		position:relative;
		&:before{
			content:"";
			position:absolute;
			left:0;
			top: 0;
			width:100%;
			height: 100%;
			background:#00000094;
		}
	}
	.colaborador{
		@include media-breakpoint-down(md) {
			font-size: 1rem !important;
			letter-spacing: .3rem;
		}
	}
	.colaborador-title{
		font-size: 4rem !important;
    	letter-spacing: 2rem;
		@include media-breakpoint-down(md) {
			font-size: 1.5rem !important; 
			letter-spacing: .5rem;
		}
	}
	section{
		&.conheca{
			.content_main{
				@include dashed;
			}
		}
		.title{
			margin-top: 15rem;
			&:first-letter{
				text-transform:capitalize;
			}
		}
		&.mais{
			.row{
				margin-top: 5rem;
				margin-bottom: 5rem;
			}
			p{
				margin-top: 3rem;
				font-size: 1.2rem !important;
				font-weight: 300 !important;
			}
			img{
				max-width:100% !important;
			}
		}
		h1{
			font-size: 2rem;
		}
		.lead{
			font-size: 1.6rem !important;
		}
		
	}
}
&.projeto_all{
	header{
		background: #00000085 !important;
	}		
	.container_projetos{
		p{
			&.titulo{
				font-size: 1.3rem;
				margin-bottom: .4rem;
			}
			&.descricao{
				font-size: 1rem;
				color:#9e9d9d;
			}
		}
	}
}
p, h1, h2, a {
	text-shadow: 8px 10px 20px #00000040;
}

.tooltip{
	left: -20px;
	font-size: 1rem;
	.arrow{
		display: none;
	}
	.tooltip-inner {
		max-width: 230px;
		padding: 0.55rem 1rem;
		color: #fff;
		text-align: center;
		background-color: #212529;
		border-radius: 0.25rem;
		box-shadow: 6px 8px 31px -7px #00000070;
	}
}
a.link{
	color: $cor-texto !important;
}
.aluno{
	img{
		border-radius:50%;
		box-shadow:3px 5px 20px 0px #00000061;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-ms-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
		&:hover{
			box-shadow: 0px 0 12px 4px #00000061;
		}
	}
	p{
		text-shadow:3px 5px 20px #00000040;
	}
	a{
		color: $cor-texto;
	}
}
